services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    volumes:
      - /opt/plex/config:/config
      - /mnt/storage/tv:/tv
      - /mnt/storage/movies:/movies
    network_mode: host
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC